Repository yangjing6688/framework, changes with the owners that CODEOWNERS names for each.
All owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd, @damccarth, @shreenbanu, @pdungdo, @rvellasamy, @mike-white-extr

JIRA: XESS-79 ,Updated the Extreme_lacation.py file and related files
  extauto/xiq/defs/extreme_location/ExtremeLocationWebElementsDefs.py
  extauto/xiq/elements/extreme_location/ExtremeLocationWebElements.py
  extauto/xiq/flows/extreme_location/ExtremeLocation.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Update Devices.py
  extauto/xiq/flows/manage/Devices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Update Network360Plan.py
  extauto/xiq/flows/mlinsights/Network360Plan.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

added an else: statement in confirm_copilot_deactivated_due_to_lack_of_licenses_banner_displayed keyword to account for a different banner being displayed:
  extauto/xiq/flows/copilot/Copilot.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

AIQ-2412: check for license limit in onboard device quick (#599)
  extauto/xiq/flows/manage/Devices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

AIQ-2395 ->Convert click to click_reference() part3
  extauto/xiq/flows/extreme_location/ExtremeLocation.py
  extauto/xiq/flows/globalsettings/AccountManagement.py
  extauto/xiq/flows/globalsettings/Communications.py
  extauto/xiq/flows/globalsettings/CredDistrGrup.py
  extauto/xiq/flows/globalsettings/GlobalSetting.py
  extauto/xiq/flows/globalsettings/LicenseManagement.py
  extauto/xiq/flows/globalsettings/PasswordReset.py
  extauto/xiq/flows/globalsettings/Webhook.py
  extauto/xiq/flows/manage/AdvOnboard.py
  extauto/xiq/flows/manage/AdvanceOnboarding.py
  extauto/xiq/flows/manage/Alarms.py
  extauto/xiq/flows/manage/Applications.py
  extauto/xiq/flows/manage/Client.py
  extauto/xiq/flows/manage/ClientMonitor.py
  extauto/xiq/flows/manage/Device360.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Update Copilot.py
  extauto/xiq/flows/copilot/Copilot.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Update CopilotWebElements.py
  extauto/xiq/elements/CopilotWebElements.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Update CopilotWebElementsDefinitions.py
  extauto/xiq/defs/CopilotWebElementsDefinitions.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

AIQ-2395 ->Convert click to click_reference() part3
  extauto/a3/flows/a3/A3Inventory.py
  extauto/a3/flows/common/a3login.py
  extauto/xiq/flows/manage/Device360Stack.py
  extauto/xiq/flows/manage/DeviceCliAccess.py
  extauto/xiq/flows/manage/DeviceConfig.py
  extauto/xiq/flows/manage/Devices.py
  extauto/xiq/flows/manage/DevicesActions.py
  extauto/xiq/flows/manage/EspAlert.py
  extauto/xiq/flows/manage/Events.py
  extauto/xiq/flows/manage/FilterManageDevices.py
  extauto/xiq/flows/manage/Location.py
  extauto/xiq/flows/manage/Reports.py
  extauto/xiq/flows/manage/Switch.py
  extauto/xiq/flows/manage/Tools.py
  extauto/xiq/flows/mlinsights/MLInsightClient360.py
  extauto/xiq/flows/mlinsights/MLInsights.py
  extauto/xiq/flows/mlinsights/Network360Monitor.py
  extauto/xiq/flows/mlinsights/Network360Plan.py
  extauto/xiq/flows/mlinsights/Network360ScoreCard.py
  extauto/xiqse/flows/admin/diagnostics/XIQSE_AdminDiagnostics.py
  extauto/xiqse/flows/admin/licenses/XIQSE_AdminLicenses.py
  extauto/xiqse/flows/common/XIQSE_CommonLogin.py
  extauto/xiqse/flows/control/policy/XIQSE_ControlPolicyDomainAssignDevice.py
  extauto/xiqse/flows/control/policy/XIQSE_ControlPolicyDomainCreate.py
  extauto/xiqse/flows/control/policy/XIQSE_ControlPolicyDomainEnforce.py
  extauto/xiqse/flows/control/policy/XIQSE_ControlPolicyDomainSave.py
  extauto/xiqse/flows/control/policy/XIQSE_ControlPolicyServiceCreate.py
  extauto/xiqse/flows/network/devices/devices/XIQSE_NetworkDevicesDevices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd, @damccarth, @shreenbanu, @pdungdo, @rvellasamy

AIQ-2395 ->Convert click to click_reference() part3 -> added small modification
  extauto/xiq/flows/manage/AdvanceOnboarding.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

AIQ-2395 ->Convert click to click_reference() part3 -> added small modifications
  extauto/xiq/flows/manage/AdvanceOnboarding.py
  extauto/xiq/flows/manage/Devices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Init Commit
  extauto/common/Utils.py
  extauto/xiq/flows/manage/EspAlert.py
  extreme_automation_framework.iml
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

commit PR changes XIQ_5498
  extauto/xiq/defs/Device360WebElementDefs.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Added dome conditions for digital twin and added a new method to help me for DT : get_device_model_serial (#602)
  extauto/xiq/flows/manage/Devices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

clear unused code
  .gitignore
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd

Alert for Telegraf
  extauto/xiq/flows/manage/EspAlert.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Delete extreme_automation_framework.iml
  extreme_automation_framework.iml
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd

Issue created during merge
  extauto/xiq/elements/Device360WebElements.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

Update and implemetation Get/Set ap template wifi
  extauto/xiq/defs/CommonObjectsWebElementsDefinitions.py
  extauto/xiq/defs/NavigatorWebElementDefinitions.py
  extauto/xiq/elements/CommonObjectsWebElements.py
  extauto/xiq/elements/NavigatorWebElements.py
  extauto/xiq/flows/ExternalWeb/ClientMode.py
  extauto/xiq/flows/common/Navigator.py
  extauto/xiq/flows/configure/CommonObjects.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd, @shreenbanu, @pdungdo, @rvellasamy

XMC-6078
  extauto/xiqse/flows/admin/options/XIQSE_AdminOptions.py
  extauto/xiqse/flows/network/devices/devices/XIQSE_NetworkDevicesDevices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, and
# will be requested for review when someone opens a pull request.
#
*   @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd
/extauto/xiq/           @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd @shreenbanu @pdungdo @rvellasamy
/extauto/xca/           @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/common/        @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd @shreenbanu @pdungdo @rvellasamy
/extauto/xiqse/         @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd

# Michael White wants to review all items in the following directory
/extauto/ucp/ @mike-white-extr @jeffrwsd
