Repository yangjing6688/framework, changes with the owners that CODEOWNERS names for each.
All owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd, @rvellasamy, @priyatham111, @damccarth, @mike-white-extr

adjustments
  ExtremeAutomation/Imports/XiqLibrary.py
  ExtremeAutomation/Keywords/NetworkElementKeywords/NetworkElementConnectionManager.py
  extauto/xiq/flows/configure/SwitchTemplate.py
  extauto/xiq/flows/manage/Device360.py
  extauto/xiq/flows/manage/DeviceConfig.py
  extauto/xiq/flows/manage/Devices.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd, @rvellasamy, @priyatham111, @damccarth

Update XiqLibrary.py
  ExtremeAutomation/Imports/XiqLibrary.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd

update_sleep_replacement
  extauto/xiq/flows/configure/SwitchTemplate.py
  extauto/xiq/flows/manage/Device360.py
  extauto/xiq/flows/manage/DeviceConfig.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

VPN Services page is restored in 22r5
  extauto/xiq/defs/NavigatorWebElementDefinitions.py
  extauto/xiq/elements/NavigatorWebElements.py
  extauto/xiq/flows/common/Navigator.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update_adjustments
  extauto/xiq/defs/SwitchTemplateWebElementsDefinitions.py
  extauto/xiq/elements/SwitchTemplateWebElements.py
  extauto/xiq/flows/configure/SwitchTemplate.py
  extauto/xiq/flows/manage/Device360.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

starting work on 1525
  extauto/xiq/flows/common/Navigator.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update UserGroups.py
  extauto/xiq/flows/configure/UserGroups.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

AIQ-1896
  extauto/xiq/defs/DevicesWebElementsDefinitions.py
  extauto/xiq/defs/SwitchWebElementsDefinitions.py
  extauto/xiq/flows/manage/Devices.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update_assign_existing_port_type
  extauto/xiq/flows/configure/SwitchTemplate.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update_assign_existing
  extauto/xiq/flows/configure/SwitchTemplate.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update_confirmations
  extauto/xiq/flows/manage/Device360.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update pytestConfigHelper.py
  ExtremeAutomation/Imports/pytestConfigHelper.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd

Update UserGroups.py
  extauto/xiq/flows/configure/UserGroups.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update UserGroups.py
  extauto/xiq/flows/configure/UserGroups.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

moved wait_till to utils because of circular deps
  extauto/common/Utils.py
  extauto/xiq/flows/configure/NetworkPolicy.py
  extauto/xiq/flows/configure/SwitchTemplate.py
  extauto/xiq/flows/manage/Devices.py
  extauto/xiq/flows/manage/Tools.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update UserGroups.py
  extauto/xiq/flows/configure/UserGroups.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update
  extauto/xiq/flows/configure/SwitchTemplate.py
  extauto/xiq/flows/manage/Device360.py
  extauto/xiq/flows/manage/DeviceConfig.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update Cli.py
  extauto/common/Cli.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update Cli.py
  extauto/common/Cli.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update
  extauto/xiq/defs/Device360WebElementDefs.py
  extauto/xiq/elements/Device360WebElements.py
  extauto/xiq/flows/manage/Device360.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update Location.py
  extauto/xiq/flows/manage/Location.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update
  extauto/xiq/flows/manage/Devices.py
  extauto/xiq/flows/manage/Location.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Update Device360WebElementDefs.py
  extauto/xiq/defs/Device360WebElementDefs.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

update
  ExtremeAutomation/Library/Device/Common/Agents/TelnetAgent.py
  extauto/xiq/defs/Device360WebElementDefs.py
Owners: @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @jeffrwsd, @rvellasamy, @priyatham111, @damccarth

update
  extauto/xiq/flows/manage/Devices.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

Revert "update"
  extauto/xiq/flows/manage/Devices.py
Owners: @rvellasamy, @priyatham111, @elatour2000, @jsubler93, @ghundertmark, @jstokes1967, @damccarth, @jeffrwsd

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
#
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, and
# will be requested for review when someone opens a pull request.
#
*   @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @jeffrwsd
/extauto/xiq/           @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/xca/           @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/common/        @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd
/extauto/xiqse/         @rvellasamy @priyatham111 @elatour2000 @jsubler93 @ghundertmark @jstokes1967 @damccarth @jeffrwsd

# Michael White wants to review all items in the following directory
/extauto/ucp/ @mike-white-extr @jeffrwsd
